@model Das_Des_2.Models.GenderViewModel.GenderViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Gender", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.LabelFor(d => d.nameGender)
            @Html.TextBoxFor(d => d.nameGender, new { @class = "form-control form-control-lg" })
            @Html.ValidationMessage("nameGeder", new { @class = "text-danger" })
            <br />

            <div>
                <input type="submit" class="btn btn-success  btn-lg" value="Guardar" />
            </div>
        }
    </div>
</div>