
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <input type="button" onclick="document.location.href='@Url.Content("~/Pelicula/ShowTablePelicula")'" class="btn btn-danger btn-lg" value="Ver" />
</div>

<div>
    <input type="button" onclick="document.location.href='@Url.Content("~/Pelicula/Create")'" class="btn btn-danger btn-lg" value="Crear" />
</div>


